/* @tailwind base;

@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
  
}
*/
@layer components{

  .Linkhover{
      @apply hover:text-red
  }
  .Log-Input{
      @apply   ring-gray-400 h-10 p-5 mb-5 bg-gray-100 border-b-4 
  }
  .XHover{
      @apply   hover:scale-125 hover:border-red hover:border-1

  }
  .SideBarLink{
      @apply flex flex-col w-full h-20 border-b-1 border-gray-500 items-center justify-center 
  }
  .SideBarLabel{
      @apply font-sans text-xs mt-2
  }
} 



@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active{
  color: gray;

}
body{
  background-color: #f1f1f1;
 }
.BrickBackground {
  background-color: #eaeaea;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 4 4'%3E%3Cpath fill='%23a2a2a2' fill-opacity='0.8' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.slides-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.slides-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}




.menu-trigger img{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-menu{
  width: 100%;
  position: absolute;
  margin-top: 32px;
  right: 0px;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  color: white;
  
}

.dropdown-menu::before{
  content: '';
  position: absolute;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}



/* IMAGE SLIDER PRODUCT INFO */

.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  

 
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slides > div:target {
  transform: scale(0.8);
}
.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}
.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}
