/* @tailwind base;

@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
  
}
*/


* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(185, 185, 185);
  border: 3px solid var(--primary);
}


@layer components{

  .Linkhover{
      @apply hover:text-red
  }
  .Log-Input{
      @apply   ring-gray-400 h-10 p-5 mb-5 bg-gray-100 border-b-4 
  }
  .XHover{
      @apply   hover:scale-125 hover:border-red hover:border-1

  }
  .SideBarLink{
      @apply flex flex-col w-full h-20 border-b-1 border-gray-500 items-center justify-center 
  }
  .SideBarLabel{
      @apply font-sans text-xs mt-2
  }
} 



@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active{
  color:#AF1B3F;
  font-weight: bold;
}
body{
  background-color: #f1f1f1;
 }
.BrickBackground {
  background-color: #eaeaea;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 4 4'%3E%3Cpath fill='%23a2a2a2' fill-opacity='0.8' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.slides-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.slides-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}




.menu-trigger img{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-menu{
  width: 100%;
  position: absolute;
  right: 0px;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  color: white;
  z-index: 40 !important;
  
}

.dropdown-menu::before{
  content: '';
  position: absolute;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

/* USERS DROPDOWN  */

.dropdown-Usermenu{
  width: 200px;
  position: absolute;
  margin-top: 0;
  right: 10%;
  border-radius: var(--border-radius);

}

.dropdown-Usermenu::before{
  content: '';
  position: absolute;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-Usermenu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-Usermenu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

/* IMAGE SLIDER PRODUCT INFO */


/* IMAGE SLIDER INDEX */
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 1.7rem;
  height: 1.7rem;
  color: white;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: grey;
}





/* card  SLIDER INDEX */
