/* @tailwind base;

@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
  
}
*/
@layer components{

  .Linkhover{
      @apply hover:text-red
  }
  .Log-Input{
      @apply   ring-gray-400 h-10 p-5 mb-5 bg-gray-100 border-b-4 
  }
  .XHover{
      @apply   hover:scale-125 hover:border-red hover:border-1

  }
  .SideBarLink{
      @apply flex flex-col w-full h-20 border-b-1 border-gray-500 items-center justify-center 
  }
  .SideBarLabel{
      @apply font-sans text-xs mt-2
  }
} 



@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active{
  color: gray;

}
body{
  background-color: #f1f1f1;
 }
.BrickBackground {
  background-color: #eaeaea;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 4 4'%3E%3Cpath fill='%23a2a2a2' fill-opacity='0.8' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.dropdown:hover .dropdown-menu {
  display: block;
}
